streamlit==1.43.0
openai==1.64.0
langchain==0.3.19
langchain-community==0.3.18
chromadb==0.7.6
langchain-openai==0.2.14
pandas==2.2.3
numpy==2.2.3
matplotlib==3.9.2
scikit-learn==1.5.1
PyPDF2==3.0.1
python-docx==1.1.2
docx2txt==0.8
sentence-transformers==3.4.1
tiktoken==0.7.0
plotly==5.18.0
seaborn==0.13.2
networkx==3.2.1
nltk==3.9.1